# 5th feb

# For Loops

In [1]:
name ='nit'
for i in name:
    print(i)

n
i
t

In [2]:
name1=[1,3.5,'hello']
for i in name1:
    print(i)

1
3.5
hello

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,10,3):
    print(i)

1
4
7

In [5]:
# can you write python program to print 5 multiplication table

for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [8]:
for i in range(1,11):
    if i==6:
       continue
    print(i)

1
2
3
4
5
7
8
9
10

In [10]:
for i in range(1,10):

_IncompleteInputError: incomplete input (4054113036.py, line 1)

In [11]:
for i in range(1,10):
    pass

In [13]:

for i in range (1,51):
    if i%3==0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [16]:
# you need to print the number from 1 to 50 but dont print the number which is divisible by 3 or 5
for i in range (1,51):
    if i%3==0 or i%5==0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [18]:
nums =[12,15,18,21,26,30,40]

for num in nums:
    if num %5==0:
        print(num)

15
30
40

In [20]:
nums =[12,15,18,21,26,30,40]

for num in nums:
    if num %5==0:
       print(num)
       break

15

In [23]:
nums =[12,18,21,26]

for num in nums:
    if num %5==0:
       print(num)
    else:
        print('number not found')

number not found
number not found
number not found
number not found

In [24]:
nums =[12,18,21,26]

for num in nums:
    if num %5==0:
       print(num)
else:
  print('number not found')

number not found

# Pattern print

In [37]:
for i in range(4):
    for j in range(i+1):
        print("#",end=' ')
    print()

#
# #
# # #
# # # #

In [40]:
for i in range(6):
    print('# '*i)

#
# #
# # #
# # # #
# # # # #

In [42]:
for i in range(4):
    for j in range(4-i):
        print("#",end=' ')
    print()

# # # #
# # #
# #
#